.nav {
    @extend .relate;
    z-index: 9999;
    .langchanger {
        @extend .absolute;
        right: 2rem;
        top: .5rem;
        @media screen and (max-width: 1000px) {
            top: 0.4rem;
            p {
                font-size: 2.5rem;
            }
        }
    }
    .back-arrow {
        position: fixed;
        left: 1.5rem;
        top: -3.3rem;
        transition: transform .5s;
        transform-origin: center;
        p {
            font-size: 3rem;
        }
        &:hover {
            transform: scale(1.05);
        }
        @media screen and (max-width: 1000px) {
            top: -6.5rem;
            p {
                font-size: 5rem;
            }
        }
    }
}