#curtains {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    opacity: 1;
    background-color: #fff;
    visibility: visible;
    &.open {
        opacity: 0;
        transition: 1s ease;
        visibility: hidden;
    }
}