@font-face {
    font-family: 'pragmatapro';
    src: url('PragmataProR_liga_0826.woff2') format('woff2')
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pragmatapro_mono';
    src: url('PragmataPro_Mono_R_liga_0826.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;

}