@import "../../../scss/retinajs";
$bg:#8dcfbb;
$color:#f0eae1;

/* body {
    background-color: $bg;
} */

a,
p,
h1,
ul {
    color: $color;
}

#stone {
    right: -13em;
    top: 71em;
    transform: rotate(9deg);
}

#tent {
    left: 10em;
    top: 78em;
    transform: rotate(-16deg);
}

#thief {
    left: 10em;
    top: 78em;
    transform: rotate(-12deg);
}

#troyan {
    left: 20em;
    top: 55em;
    transform: rotate(-46deg);
}

#vigor {
    left: 22em;
    bottom: 10em;
    transform: rotate(64deg);
}

#village {
    right: -12em;
    bottom: 31em;
    transform: rotate(109deg);
}

#wall {
    left: 35em;
    top: 101em;
    transform: rotate(21deg);
}

#windmill {
    left: 34em;
    top: 100.5em;
    transform: rotate(19deg);
}

#wizard {
    left: 33em;
    top: 99em;
    transform: rotate(18deg);
}

#worker {
    left: 33em;
    top: 99em;
    transform: rotate(17deg);
}

#zombie {
    left: -20em;
    top: 90em;
    transform: rotate(45deg);
}

#back-1 {
    left: -10em;
    top: 14em;
    transform: rotate(14deg);
}

#back-2 {
    left: 27em;
    top: 26em;
    transform: rotate(-20deg);
}

#back-3 {
    right: 10em;
    top: 35em;
    transform: rotate(37deg);
}

#back-4 {
    right: -15em;
    top: 70em;
    transform: rotate(10deg);
}

#back-5 {
    left: 10em;
    top: 78em;
    transform: rotate(-20deg);
}

#back-6 {
    left: 20em;
    top: 55em;
    transform: rotate(-40deg);
}

#back-7 {
    left: -20em;
    top: 90em;
    transform: rotate(34deg);
}

#back-8 {
    left: 15em;
    top: 115em;
    transform: rotate(-130deg);
}

#back-9 {
    right: 24em;
    top: 125em;
    transform: rotate(-10deg);
}

#back-10 {
    right: -12em;
    bottom: 32em;
    transform: rotate(110deg);
}

#back-11 {
    left: 22em;
    bottom: 10em;
    transform: rotate(65deg);
}

#back-12 {
    left: -10em;
    bottom: 90em;
    transform: rotate(-44deg);
}

#autumn {
    left: 13em;
    top: 1em;
    transform: rotate(-5deg);
}

#cannon {
    left: 6em;
    top: 40em;
    transform: rotate(13deg);
}

#castle {
    right: -10em;
    top: 15em;
    transform: rotate(-20deg);
}

#catapult {
    left: 40em;
    top: 60em;
    transform: rotate(-190deg);
}

#cleric {
    left: -10em;
    top: 60em;
    transform: rotate(-55deg);
}

#devil {
    left: 35em;
    top: 102em;
    transform: rotate(20deg);
}

#efreet {
    right: -10em;
    top: 139em;
    transform: rotate(-115deg);
}

#enchantment {
    left: 10em;
    top: 160em;
    transform: rotate(25deg);
}

#executor {
    left: 24em;
    top: 174em;
    transform: rotate(14deg);
}

#familiar {
    left: 19em;
    top: 192em;
    transform: rotate(77deg);
}

#gog {
    right: 10em;
    top: 224em;
    transform: rotate(-24deg);
}

#halberdier {
    right: -13em;
    top: 200em;
    transform: rotate(14deg);
}

#imp {
    right: 2.5em;
    top: 181.5em;
    transform: rotate(-64deg);
}

#lighting {
    right: -2em;
    bottom: 1em;
    transform: rotate(-35deg);
}

#monk {
    left: 10em;
    top: 270em;
    transform: rotate(-190deg);
}

#orc {
    left: -10em;
    top: 260em;
    transform: rotate(-79deg);
}

#peasant {
    left: 0;
    top: 210em;
    transform: rotate(25deg);
}

#samurai {
    left: 15em;
    top: 245em;
    transform: rotate(40deg);
}

#sea {
    right: 20em;
    top: 260em;
    transform: rotate(10deg);
}

#sharpshooter {
    right: 10em;
    top: 320em;
    transform: rotate(-10deg);
}

#slave {
    right: 20.2em;
    top: 259.5em;
    transform: rotate(11deg);
}

#spearman {
    right: 21em;
    top: 259em;
    transform: rotate(9deg);
}